{% extends "base.html" %}
{% block main %}
    <div class="container my-4">
        <div class="text-bg-info p-2" style="font-family: Algerian;">
            <h1><center><u>SHOPPING CART</u></center></h1>
        </div>
        <div class="table-responsive">
            <form method="POST" action="/update_cart">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Category</th>
                            <th scope="col">Image</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Remove from Cart</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in product_list %}
                        <tr>
                            <td>{{ item[0] }}</td>
                            <td>{{ item[1] }}</td>
                            <td>{{ item[2] }}</td>
                            <td>{{ item[3] }}</td>
                            <td>{{ item[4] }}</td>
                            <td>{{ item[5] }}</td>
                            <td>{{ item[6] }}</td>
                            <td>
                                <button type="submit" name="remove_item" value="{{ item.id }}" class="btn btn-danger btn-sm">Remove</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
        <div class="text-center">
            <h4>Total: ₹{{ cart_total }}</h4>
            <a href="/checkout" class="btn btn-success btn-lg">Proceed to Checkout</a>
        </div>
    </div>
{% endblock %}
