{% extends "base.html" %}
    {% block main %}
        
        <h1><center><u>CATEGORIES</u></center></h1>
        <div class="row row-cols-1 row-cols-md-4 g-4 my-2 mx-2">
            {%for i in all_categories %}
                <div class="col" id="mv">
                <div class="card">
                    <a href='/product/{{i.id}}' method='get'><img src="{{i.image}}" class="card-img-top" alt="{{i.name}}"></a>
                    <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}