{% extends "base.html" %}
    {% block main %}
        <h1><center><u>PRODUCTS</u></center></h1>
        <div class="row row-cols-1 row-cols-md-4 g-4 my-2 mx-2">
            {%for i in all_products %}
                <div class="col" id="mv">
                <div class="card">
                    <a href='/product/{{i.id}}' method='get'><img src="{{i.image}}" class="card-img-top" alt="{{i.name}}"></a>
                    <div class="card-body">
                    <!-- <p class="card-title">id: {{i.id}}</p> -->
                    <p class="card-title">name: {{i.name}}</p>
                    <!-- <p class="card-title">category: {{i.category}}</p> -->
                    <p class="card-title">brand: {{i.brand}}</p>
                    <!-- <p class="card-title">mfg_date: {{i.mfg_date}}</p> -->
                    <p class="card-title">exp_date: {{i.exp_date}}</p>
                    <!-- <p class="card-title">unit: {{i.unit}}</p> -->
                    <!-- <p class="card-title">qty: {{i.qty}}</p> -->
                    <p class="card-title">price_per_unit: {{i.price_per_unit}} per {{i.unit}}</p>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}